<h5>Radio button by using control</h5>
<div style="margin: 20px 0; padding: 10px;">
<kal-radio-group [formControl]="control"
                 labelPosition="before"
                 [name]="nameRadioButtonWithControl">
  <kal-radio value="test">test</kal-radio><br />
  <kal-radio value="test1">test 1</kal-radio><br />
  <kal-radio value="test2">test 2</kal-radio><br />
  <kal-radio value="test3">test 3</kal-radio><br />
</kal-radio-group>
</div>
<h5>Radio button by using control</h5>
<div style="margin: 20px 0; padding: 10px;">
  <kal-radio-group [formControl]="control"
                   [name]="nameRadioButtonWithControl">
    <kal-radio value="test">test</kal-radio><br />
    <kal-radio value="test1">test 1</kal-radio><br />
    <kal-radio value="test2">test 2</kal-radio><br />
    <kal-radio value="test3">test 3</kal-radio><br />
  </kal-radio-group>
</div>
<div>
  <input #inputElementWithControl type="text"><br>
  <button (click)="changeRadioValueWithControl(inputElementWithControl.value)"> Change radio value</button><br>
  <button (click)="disableGroupByControl()">Disabled group</button><br>
  <p>The value of the form control : {{ control.value }}</p>
</div>

<hr>

<div style="margin: 20px 0; padding: 10px;">
  <kal-radio-group [formControl]="control"
                   labelPosition="before"
                   [name]="nameRadioButtonWithControl">
    <kal-radio class="kal-theme--large" value="test">test</kal-radio><br />
    <kal-radio class="kal-theme--large" value="test1">test 1</kal-radio><br />
    <kal-radio class="kal-theme--large" value="test2">test 2</kal-radio><br />
    <kal-radio class="kal-theme--large" value="test3">test 3</kal-radio><br />
  </kal-radio-group>
</div>
<div style="margin: 20px 0; padding: 10px;">
  <kal-radio-group [formControl]="control"
                   [name]="nameRadioButtonWithControl">
    <kal-radio class="kal-theme--large" value="test">test</kal-radio><br />
    <kal-radio class="kal-theme--large" value="test1">test 1</kal-radio><br />
    <kal-radio class="kal-theme--large" value="test2">test 2</kal-radio><br />
    <kal-radio class="kal-theme--large" value="test3">test 3</kal-radio><br />
  </kal-radio-group>
</div>
<div>
  <input #inputElementWithControl type="text"><br>
  <button (click)="changeRadioValueWithControl(inputElementWithControl.value)"> Change radio value</button><br>
  <button (click)="disableGroupByControl()">Disabled group</button><br>
  <p>The value of the form control : {{ control.value }}</p>
</div>

<hr>

<h5>Radio button by using event</h5>
<div style="margin: 20px 0; padding: 10px; background-color: #1F1F1F">
  <kal-radio-group [value]="value"
                   [name]="nameRadioButtonWithEvent"
                   [disabled]="disabled"
                   (valueChange)="displayValue($event)">
    <kal-radio class="kal-theme--reverse" value="test">test</kal-radio><br />
    <kal-radio class="kal-theme--reverse" value="test1">test 1</kal-radio><br />
    <kal-radio class="kal-theme--reverse" value="test2">test 2</kal-radio><br />
    <kal-radio class="kal-theme--reverse" value="test3">test 3</kal-radio><br />
  </kal-radio-group>
</div>
<div>
  <input #inputElementWithEvent type="text"><br />
  <button (click)="changeRadioValueWithEvent(inputElementWithEvent.value)"> Change radio value</button><br />
  <button (click)="disableGroupByInput()">Disabled group</button>
  <p>Default value of the radio button: {{ value }}</p>
  <p>The id of the selected radio button : {{ id }}</p>
</div>

<hr>

<div style="margin: 20px 0; padding: 10px; background-color: #1F1F1F">
  <kal-radio-group [value]="value"
                   [name]="nameRadioButtonWithEvent"
                   labelPosition="before"
                   [disabled]="disabled"
                   (valueChange)="displayValue($event)">
    <kal-radio class="kal-theme--reverse kal-theme--large" value="test">test</kal-radio><br />
    <kal-radio class="kal-theme--reverse kal-theme--large" value="test1">test 1</kal-radio><br />
    <kal-radio class="kal-theme--reverse kal-theme--large" value="test2">test 2</kal-radio><br />
    <kal-radio class="kal-theme--reverse kal-theme--large" value="test3">test 3</kal-radio><br />
  </kal-radio-group>
</div>
<div>
  <input #inputElementWithEvent type="text"><br />
  <button (click)="changeRadioValueWithEvent(inputElementWithEvent.value)"> Change radio value</button><br />
  <button (click)="disableGroupByInput()">Disabled group</button>
  <p>Default value of the radio button: {{ value }}</p>
  <p>The id of the selected radio button : {{ id }}</p>
</div>
