<h1>Card</h1>

<div class="example">

  <div>
    <kal-calendar
      (datePicked)="datePicked($event)"
      [selectedDate]="date"
      [activatedDates]="selectedDates">
    </kal-calendar>
    <div>Date Picked: {{date}}</div>

    <div>Selected Dates: {{selectedDates | json}}</div>
  </div>
</div>

<div class="configurator">
  <kal-form-field>
    <kal-datepicker [(ngModel)]="newdate" (ngModelChange)="selectedDates.push($event)" label="Select new date"></kal-datepicker>
  </kal-form-field>


</div>
