=kal-element-input($parameters)
  font-family: deep-map-get($parameters, "kalInput", "font")
  font-size: deep-map-get($parameters, "kalInput", "font-size")
  background-color: deep-map-get($parameters, "kalInput", "background-color")
  color: deep-map-get($parameters, "kalInput", "color")
  border-width: deep-map-get($parameters, "kalInput", "border", "width")
  border-style: deep-map-get($parameters, "kalInput", "border", "style")
  border-color: deep-map-get($parameters, "kalInput", "border", "color")
  border-radius: deep-map-get($parameters, "kalInput", "border", "radius")
  padding: deep-map-get($parameters, "kalInput", "padding")
  width: deep-map-get($parameters, "kalInput", "width")
