<h2>Default accordion</h2>

<div class="example">
  <kal-accordion [multi]="multiple">

    <kal-expansion-panel [disabled]="disabled">
      <kal-expansion-panel-header>First panel {{ disabled ? 'disabled' : ''}}</kal-expansion-panel-header>

      <kal-expansion-panel-content>
        <p>Main panel 1 content</p>
      </kal-expansion-panel-content>

      <kal-action-row>
        <button type="button">Submit</button>
      </kal-action-row>
    </kal-expansion-panel>

    <kal-expansion-panel>
      <kal-expansion-panel-header>Second panel</kal-expansion-panel-header>

      <kal-expansion-panel-content>
        <p>Main panel 2 content</p>
      </kal-expansion-panel-content>
    </kal-expansion-panel>

    <kal-expansion-panel>
      <kal-expansion-panel-header>Third panel</kal-expansion-panel-header>

      <kal-expansion-panel-content>
        <p>Main panel 3 content</p>
      </kal-expansion-panel-content>

    </kal-expansion-panel>

  </kal-accordion>
</div>

<div class="configurator">

  <kal-form-field>
    <kal-checkbox
      [(ngModel)]="disabled"
      label="disabled"
    ></kal-checkbox>
  </kal-form-field>

  <kal-form-field>
    <kal-checkbox
      [(ngModel)]="multiple"
      label="multiple"
    ></kal-checkbox>
  </kal-form-field>
</div>
