<h1>Snackbar</h1>

<div class="example">
  <kal-button kalTheme="primary" (click)="addSnackbar()">
    display snackbar
  </kal-button>
</div>


<div class="configurator">

  <kal-form-field>
    <kal-input label="title" [(ngModel)]="title"></kal-input>
  </kal-form-field>

  <kal-form-field>
    <kal-input label="action label" [(ngModel)]="actionLabel"></kal-input>
  </kal-form-field>

  <kal-form-field>
    <kal-input label="duration" [(ngModel)]="duration"></kal-input>
  </kal-form-field>

</div>
