<h1>Textarea</h1>
<div class="example">
  <article>
    <kal-textarea
    [kalTheme]="themes"
    [disabled]="disabled"
    ></kal-textarea>
  </article>
</div>


<div class="configurator">

  <kal-form-field>
    <kal-select placeholder="themes" [(ngModel)]="themes" label="themes">
      <kal-option value="">none</kal-option>
      <kal-option value="reverse">reverse</kal-option>
    </kal-select>
  </kal-form-field>


  <kal-form-field>
    <kal-checkbox
      [(ngModel)]="disabled"
      label="disabled"
    ></kal-checkbox>
  </kal-form-field>
</div>
