<h1>Datepicker</h1>

<div class="example" [class.reverse]="reverse">
  <kal-form-field>
    <kal-datepicker [formControl]="control" [kalTheme]="themes" name="datepicker"></kal-datepicker>
  </kal-form-field>
</div>

<div class="configurator">
  <kal-form-field>
    <kal-checkbox [(ngModel)]="reverse" label="reverse"></kal-checkbox>
  </kal-form-field>

  <ng-container [formGroup]="dateValidatorForm">
    <kal-form-field>
      <kal-datepicker formControlName="minDate" label="Min date"></kal-datepicker>
    </kal-form-field>

    <kal-form-field>
      <kal-datepicker formControlName="maxDate" label="Max date"></kal-datepicker>
    </kal-form-field>
  </ng-container>

  <kal-button (click)="clearValidators()" kalTheme="secondary">Clear validators</kal-button>

</div>
