$kal-styles-slider: (
  'default': (
    'limit-container':(
      background-color: get("grey.wf400", $kal-palettes),
      ),
    'max-container': (
      background-color: get("grey.wf600", $kal-palettes),
      ),
    'min-container': (
      background-color: get("grey.wf600", $kal-palettes),
      ),
    'selection-container': (
      background-color: get("black", $kal-palettes),
      ),
    'pointer': (
      background-color: get("black", $kal-palettes),
    ),
    'reverse': (
      'limit-container':(
        background-color: get("grey.wf600", $kal-palettes),
      ),
      'max-container': (
        background-color: get("grey.wf400", $kal-palettes),
      ),
      'min-container': (
        background-color: get("grey.wf400", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("white", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
    ),
  ),
  'alternates': (
    'orange': (
      'limit-container':(
        background-color: get("orange.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("orange.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("orange.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("orange.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("orange.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'red': (
      'limit-container':(
        background-color: get("red.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("red.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("red.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("red.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("red.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'blue': (
      'limit-container':(
        background-color: get("blue.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("blue.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("blue.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("blue.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("blue.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'green': (
      'limit-container':(
        background-color: get("green.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("green.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("green.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("green.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("green.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'yellow': (
      'limit-container':(
        background-color: get("yellow.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("yellow.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("yellow.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("yellow.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("yellow.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'marine': (
      'limit-container':(
        background-color: get("marine.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("marine.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("marine.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("marine.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("marine.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'anthracite': (
      'limit-container':(
        background-color: get("anthracite.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("anthracite.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("anthracite.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("anthracite.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("anthracite.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'corail': (
      'limit-container':(
        background-color: get("corail.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("corail.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("corail.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("corail.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("corail.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'blueviolet': (
      'limit-container':(
        background-color: get("blueviolet.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("blueviolet.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("blueviolet.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("blueviolet.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("blueviolet.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'cornflowerblue': (
      'limit-container':(
        background-color: get("cornflowerblue.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("cornflowerblue.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("cornflowerblue.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("cornflowerblue.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("cornflowerblue.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
  )
);
