// kal-select parameters and alternates
$kal-styles-select: (
  'default': (
    'background-color': get('grey.wf100',$kal-palettes),
    'border': 1px solid get('grey.wf300',$kal-palettes),
    'border-radius': $kal-base-borderradius,
    'padding': 10px 20px,
    'label': (
      'font-size': $kal-base-fontsize,
      'font-weight': 600,
      'color': get('grey.wf800',$kal-palettes)
    ),
    'icon': (
      'color': get('grey.wf800',$kal-palettes),
      'padding': 0 0 0 24px,
      'font-size': 1.2em
    ),
    'disabled': (
      'label': (
        'color': get('grey.wf500',$kal-palettes)
      ),
      'icon': (
        'color': get('grey.wf500',$kal-palettes)
      )
    ),
    'active': (
      'border-color': get('grey.wf500',$kal-palettes)
    ),
    'overlay': (
      'background-color': get('grey.wf100',$kal-palettes),
      'color': get('grey.wf800',$kal-palettes),
      'border': 1px solid get('grey.wf500',$kal-palettes),
      'border-radius': $kal-base-borderradius,
      'padding': 12px 0,
      'width': 100%,
      'option': (
        'color': get('grey.wf800',$kal-palettes),
        'padding': 9px 0,
        'active': (
          'font-weight': 500
        ),
      ),
    ),
    'reverse': (
      'background-color': get('grey.wf800',$kal-palettes),
      'border-color': get('grey.wf300',$kal-palettes),
      'label': (
        'color': get('white',$kal-palettes)
      ),
      'icon': (
        'color': get('orange.normal',$kal-palettes)
      ),
      'disabled': (
        'label': (
          'color': get('grey.wf300',$kal-palettes)
        ),
        'icon': (
          'color': get('grey.wf300',$kal-palettes)
        )
      ),
      'active': (
        'border-color': get('grey.wf100',$kal-palettes)
      ),
      'overlay': (
        'background-color': get('grey.wf800',$kal-palettes),
        'color': get('white',$kal-palettes),
        'border': 1px solid get('grey.wf300',$kal-palettes),
        'option': (
          'color': get('white',$kal-palettes),
          'padding': 9px 0,
          'active': (
            'color': get("orange.normal",$kal-palettes),
            'font-weight': 500
          ),
        ),
      ),
    ),
  ),
  'alternates': (
    'secondary': (
      'background-color': get('grey.wf800',$kal-palettes),
      'border': 1px solid get('grey.wf800',$kal-palettes),
      'border-radius': $kal-base-borderradius,
      'padding': 10px 20px,
      'label': (
        'font-size': $kal-base-fontsize,
        'font-weight': 600,
        'color': get('white',$kal-palettes)
      ),
      'icon': (
        'color': get('white',$kal-palettes),
        'padding-left': 24px,
        'font-size': 1.2em
      ),
      'disabled': (
        'label': (
          'color': get('grey.wf300',$kal-palettes)
        ),
        'icon': (
          'color': get('grey.wf300',$kal-palettes)
        )
      ),
      'active': (
        'border-color': get('white',$kal-palettes)
      ),
      'overlay': (
        'background-color': get('grey.wf800',$kal-palettes),
        'color': get('white',$kal-palettes),
        'border': 1px solid get('grey.wf800',$kal-palettes),
        'border-radius': $kal-base-borderradius
      ),
      'reverse': (
        'background-color': get('.grey.wf800',$kal-palettes),
        'border-color': get('grey.wf800',$kal-palettes),
        'label': (
          'color': get('white',$kal-palettes)
        ),
        'icon': (
          'color': get('white',$kal-palettes)
        ),
        'disabled': (
          'label': (
            'color': get('grey.wf300',$kal-palettes)
          ),
          'icon': (
            'color': get('grey.wf300',$kal-palettes)
          )
        ),
        'active': (
          'border-color': get('white',$kal-palettes)
        ),
        'overlay': (
          'background-color': get('grey.wf800',$kal-palettes),
          'color': get('white',$kal-palettes),
          'border-color': 1px solid get('grey.wf300',$kal-palettes)
        )
      )
    )
  )
);
