// kal-button parameters and alternates
$kal-styles-button: (
  'default': (
    'font-family': $kal-base-fontsize,
    'font-size': 15px,
    'font-weight': bold,
    'color': get("grey.wf800", $kal-palettes),
    'background-color': get("white", $kal-palettes),
    'border': 1px solid get("white", $kal-palettes),
    'border-radius': $kal-base-borderradius,
    'margin': 0,
    'padding': 8px 12px,
    'disabled': (
      'color': get("grey.wf500", $kal-palettes),
      'background-color': get("grey.wf200", $kal-palettes),
      'border': 1px solid get("grey.wf200", $kal-palettes)
    ),
    'hover': (
      'background-color': get("grey.wf100", $kal-palettes),
      'border': 1px solid get("grey.wf100", $kal-palettes)
    ),
    'active': (
      'background-color': get("grey.wf300", $kal-palettes),
      'border': 1px solid get("grey.wf300", $kal-palettes)
    ),
    'reverse': (
      'color': get("grey.wf800", $kal-palettes),
      'background-color': get("white", $kal-palettes),
      'border': 1px solid get("grey.wf300", $kal-palettes),
      'disabled': (
        'color': get("grey.wf300", $kal-palettes),
        'background-color': get("grey.wf700", $kal-palettes),
        'border': 1px solid get("grey.wf700", $kal-palettes),
      ),
      'hover': (
        'background-color': get("grey.wf100", $kal-palettes),
        'border': 1px solid get("grey.wf300", $kal-palettes)
      ),
      'active': (
        'background-color': get("grey.wf200", $kal-palettes),
        'border': 1px solid get("grey.wf300", $kal-palettes)
      )
    ),
  ),
  'alternates' : (
    'primary': (
      'color': get("white", $kal-palettes),
      'background-color': get("orange.normal", $kal-palettes),
      'border': 1px solid get("orange.normal", $kal-palettes),
      'disabled': (
        'color': get("grey.wf500", $kal-palettes),
        'background-color': get("grey.wf200", $kal-palettes),
        'border': 1px solid get("grey.wf200", $kal-palettes)
      ),
      'hover': (
        'background-color': get("orange.dark", $kal-palettes),
        'border': 1px solid get("orange.dark", $kal-palettes)
      ),
      'active': (
        'background-color': get("orange.darker", $kal-palettes),
        'border': 1px solid get("orange.darker", $kal-palettes)
      ),
      'reverse': (
        'color': get("white", $kal-palettes),
        'background-color': get("orange.normal", $kal-palettes),
        'border': 1px solid get("orange.normal", $kal-palettes),
        'disabled': (
          'color': get("grey.wf300", $kal-palettes),
          'background-color': get("grey.wf700", $kal-palettes),
          'border': 1px solid get("grey.wf700", $kal-palettes),
        ),
        'hover': (
          'background-color': get("orange.dark", $kal-palettes),
          'border': 1px solid get("orange.dark", $kal-palettes)
        ),
        'active': (
          'background-color': get("orange.darker", $kal-palettes),
          'border': 1px solid get("orange.darker", $kal-palettes)
        )
      ),
    ),
    'secondary': (
      'color': get("white", $kal-palettes),
      'background-color': get("grey.wf800", $kal-palettes),
      'border': 1px solid get("grey.wf800", $kal-palettes),
      'disabled': (
        'color': get("grey.wf500", $kal-palettes),
        'background-color': get("grey.wf200", $kal-palettes),
        'border': 1px solid get("grey.wf200", $kal-palettes)
      ),
      'hover': (
        'background-color': get("grey.wf700", $kal-palettes),
        'border': 1px solid get("grey.wf700", $kal-palettes)
      ),
      'active': (
        'background-color': get("grey.wf600", $kal-palettes),
        'border': 1px solid get("grey.wf600", $kal-palettes)
      ),
      'reverse': (
        'color': get("white", $kal-palettes),
        'background-color': get("grey.wf800", $kal-palettes),
        'border': 1px solid get("grey.wf300", $kal-palettes),
        'disabled': (
          'color': get("grey.wf300", $kal-palettes),
          'background-color': get("grey.wf700", $kal-palettes),
          'border': 1px solid get("grey.wf700", $kal-palettes)
        ),
        'hover': (
          'background-color': get("grey.wf700", $kal-palettes),
          'border': 1px solid get("grey.wf300", $kal-palettes)
        ),
        'active': (
          'background-color': get("grey.wf600", $kal-palettes),
          'border': 1px solid get("grey.wf300", $kal-palettes)
        )
      ),
    ),
    'tertiary': (
      'color': get("grey.wf800", $kal-palettes),
      'background-color': get("white", $kal-palettes),
      'border': 1px solid get("grey.wf300", $kal-palettes),
      'disabled': (
        'color': get("grey.wf500", $kal-palettes),
        'background-color': get("grey.wf200", $kal-palettes),
        'border': 1px solid get("grey.wf200", $kal-palettes)
      ),
      'hover': (
        'background-color': get("grey.wf100", $kal-palettes),
        'border': 1px solid get("grey.wf300", $kal-palettes)
      ),
      'active': (
        'background-color': get("grey.wf200", $kal-palettes),
        'border': 1px solid get("grey.wf300", $kal-palettes)
      ),
      'reverse': (
        'color': get("white", $kal-palettes),
        'background-color': get("grey.wf700", $kal-palettes),
        'border': 1px solid get("grey.wf500", $kal-palettes),
        'disabled': (
          'color': get("grey.wf300", $kal-palettes),
          'background-color': get("grey.wf700", $kal-palettes),
          'border': 1px solid get("grey.wf700", $kal-palettes)
        ),
        'hover': (
          'background-color': get("grey.wf800", $kal-palettes),
          'border': 1px solid get("grey.wf500", $kal-palettes)
        ),
        'active': (
          'background-color': get("grey.wf800", $kal-palettes),
          'border': 1px solid get("white", $kal-palettes)
        )
      ),
    ),
    'large': (
      'font-size': 17px,
      'padding': 12px 18px
    )
  )
);
