$kal-styles-slider: (
  'default': (
    'limit-container':(
      background-color: get("grey.wf400", $kal-palettes),
      ),
    'max-container': (
      background-color: get("grey.wf600", $kal-palettes),
      ),
    'min-container': (
      background-color: get("grey.wf600", $kal-palettes),
      ),
    'selection-container': (
      background-color: get("black", $kal-palettes),
      ),
    'pointer': (
      background-color: get("black", $kal-palettes),
    ),
    'reverse': (
      'limit-container':(
        background-color: get("grey.wf600", $kal-palettes),
      ),
      'max-container': (
        background-color: get("grey.wf400", $kal-palettes),
      ),
      'min-container': (
        background-color: get("grey.wf400", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("white", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
    ),
  ),
  'alternates': (
    'orange-normal': (
      'limit-container':(
        background-color: get("orange.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("orange.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("orange.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("orange.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("orange.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'red-normal': (
      'limit-container':(
        background-color: get("red.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("red.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("red.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("red.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("red.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'blue-normal': (
      'limit-container':(
        background-color: get("blue.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("blue.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("blue.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("blue.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("blue.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'green-normal': (
      'limit-container':(
        background-color: get("green.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("green.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("green.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("green.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("green.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
    'yellow-normal': (
      'limit-container':(
        background-color: get("yellow.lighter", $kal-palettes),
      ),
      'max-container': (
        background-color: get("yellow.light", $kal-palettes),
      ),
      'min-container': (
        background-color: get("yellow.light", $kal-palettes),
      ),
      'selection-container': (
        background-color: get("yellow.normal", $kal-palettes),
      ),
      'pointer': (
        background-color: get("white", $kal-palettes),
      ),
      'reverse': (
        'limit-container':(
          background-color: get("grey.wf600", $kal-palettes),
        ),
        'max-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'min-container': (
          background-color: get("grey.wf400", $kal-palettes),
        ),
        'selection-container': (
          background-color: get("yellow.normal", $kal-palettes),
        ),
        'pointer': (
          background-color: get("white", $kal-palettes),
        ),
      ),
    ),
  )
);
