$kal-styles-formfield: (
  'default': (
    'wrapper': (
      'background-color': get('white', $kal-palettes),
      'error': (
        'color': get('red.normal', $kal-palettes),
        'font-size': 13px,
        'padding': 6px 10px,
        'input':(
          'border': 1px solid get('red.normal', $kal-palettes),
        ),
      ),
      'label':(
        'display': flex,
        'align-items': center,
        'color': get('grey.wf800', $kal-palettes),
        'line-height': 1,
        'padding': 6px 0 12px 0,
        'required':(
          'content': '*',
        ),
      ),
      'legend':(
        'font-size': 15px,
        'color': get('grey.wf500', $kal-palettes),
        'margin': -10px 0 12px 0,
        'width': 100%,
      ),
    ),
    'reverse': (
      'wrapper': (
        'background-color': get('grey.wf800', $kal-palettes),
        'label':(
          'color': get('grey.wf100', $kal-palettes),
        ),
      ),
    ),
  ),
  'alternates': (

  )
);
