<h1>Dialog</h1>

<div class="example">

  <p>
    <kal-button kalTheme="secondary"  (click)="openDialog()">Open Dialog</kal-button>
  </p>
  <blockquote *ngIf="result">
    result: {{ result | json }}
  </blockquote>

  <p>
    <kal-button kalTheme="secondary" (click)="openConfirmDialog()">Open confirm Dialog</kal-button>
  </p>
  <blockquote *ngIf="resultConfirm">{{ resultConfirm | json }}</blockquote>

</div>

<div class="configurator">
  <kal-form-field>
    <kal-checkbox
      label="hasBackdrop"
      [(ngModel)]="hasBackdrop">
    </kal-checkbox>
  </kal-form-field>

  <kal-form-field>
    <kal-checkbox
      label="disableClose"
      [(ngModel)]="disableClose">
    </kal-checkbox>
  </kal-form-field>
</div>

