<h1>Button</h1>
<div class="example">
  <article>
    <kal-button
      [disabled]="disabled"
      [kalTheme]="themes"
    >
      <kal-icon>add</kal-icon>
      <span>Register</span>
    </kal-button>
  </article>

  <article>

    <kal-button
      [disabled]="disabled"
      [kalTheme]="themes"
    >
      Register
    </kal-button>
  </article>
</div>


<div class="configurator">

  <kal-form-field>
    <kal-select placeholder="themes" multiple="true" [(ngModel)]="themes" label="themes">
      <kal-option value="primary">primary</kal-option>
      <kal-option value="secondary">secondary</kal-option>
      <kal-option value="tertiary">tertiary</kal-option>
      <kal-option value="reverse">reverse</kal-option>
    </kal-select>
  </kal-form-field>


  <kal-form-field>
    <kal-checkbox
      [(ngModel)]="disabled"
      label="disabled"
    ></kal-checkbox>
  </kal-form-field>
</div>
