<h1>
  Kal-input
</h1>

<section>
  <article>
    <kal-form-field>
      <kal-input
        label="update on change"
        [formControl]="controlChange"
        [type]="type"
        [clearable]="clearable"
        [placeholder]="placeholder"></kal-input>
      {{ controlChange.value}}
    </kal-form-field>
  </article>
  <article>
    <kal-form-field>
      <kal-input
        label="update on blur"
        [formControl]="controlBlur"
        [type]="type"
        [clearable]="clearable"
        [placeholder]="placeholder"></kal-input>
      {{ controlBlur.value}}
    </kal-form-field>
  </article>
</section>
<hr/>


<kal-form-field>
  <kal-select [(ngModel)]="type" label="Type">
    <kal-option value="text">text</kal-option>
    <kal-option value="password">password</kal-option>
    <kal-option value="number">number</kal-option>
    <kal-option value="currency">currency</kal-option>
    <kal-option value="phone">phone</kal-option>
    <kal-option value="text">text</kal-option>
  </kal-select>
</kal-form-field>

<kal-form-field>
  <kal-input [(ngModel)]="placeholder" label="Placeholder"></kal-input>
</kal-form-field>

<label>
  Clearable
  <input type="checkbox" [(ngModel)]="clearable">
</label>
