<h1>
  Kal-input
</h1>

<kal-input
  [type]="type"
  [clearable]="clearable"
  [placeholder]="placeholder"></kal-input>
<hr />


<kal-form-field>
  <kal-select [(ngModel)]="type" label="Type">
    <kal-option value="text">text</kal-option>
    <kal-option value="password">password</kal-option>
    <kal-option value="number">number</kal-option>
    <kal-option value="currency">currency</kal-option>
    <kal-option value="phone">phone</kal-option>
    <kal-option value="text">text</kal-option>
  </kal-select>
</kal-form-field>

<kal-form-field>
  <kal-input [(ngModel)]="placeholder" label="Placeholder"></kal-input>
</kal-form-field>

<label>
  Clearable
  <input type="checkbox" [(ngModel)]="clearable">
</label>
