<header>
  <nav style="display:flex; flex-flow:row wrap;justify-content:space-around;align-items:center;height:50px; text-align:center;">
    <a routerLink="/">Home</a>
    <a routerLink="/atoms/input">Input</a>
    <a routerLink="/atoms/checkbox">Checkbox</a>
    <a routerLink="/atoms/select">Select</a>
    <a routerLink="/atoms/icon">Icon</a>
    <a routerLink="/atoms/rater">Rater</a>
  </nav>
</header>
<main style="padding:0 20px">
  <h3>Headings</h3>
    <h1>heading 1</h1>
    <h2>heading 2</h2>
    <h3>heading 3</h3>
    <h4>heading 4</h4>
    <h5>heading 5</h5>
    <h6>heading 6</h6>
  <h3>Inlines</h3>
  <h5>Paragraphs</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum tellus at dolor molestie, ut hendrerit lectus tincidunt. Phasellus aliquet lorem sit amet nisi auctor semper. Sed id diam tellus. Integer aliquam urna neque. Phasellus dignissim lectus ac eros mollis luctus. Etiam sed ipsum libero. Maecenas eget leo eu metus pharetra facilisis. Sed gravida nulla vitae sagittis varius. Mauris efficitur sapien ultrices nulla iaculis rhoncus. Etiam sit amet semper lectus. Proin ultrices fringilla varius.
    </p>
  <h5>strong</h5>
    <strong>strong</strong>
  <h5>Italique</h5>
    <em>em</em>
  <h5>Links</h5>
    <a href=""> Lorem ipsum dolor sit amet </a>
  <div style="padding:40px 60px;background-color:#f4f4f4">
    <router-outlet></router-outlet>
  </div>
</main>
<footer></footer>
