<header>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/atoms/input">Input</a>
    <a routerLink="/atoms/checkbox">Checkbox</a>
    <a routerLink="/atoms/select">Select</a>
    <a routerLink="/atoms/icon">Icon</a>
    <a routerLink="/atoms/rater">Rater</a>
  </nav>
</header>

<h1>heading 1</h1>
<h2>heading 2</h2>
<h3>heading 3</h3>
<h4>heading 4</h4>
<h5>heading 5</h5>
<h6>heading 6</h6>

<p> p tag: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, accusantium aliquid, commodi dicta, ducimus earum esse fuga hic maxime nemo numquam quaerat quis quisquam sed sit tempora tenetur unde?</p>

<strong>strong</strong>

<em> em </em>

<router-outlet></router-outlet>
