<kal-tab-group tabindex="1">
  <kal-tab label="Header 1" selected>
    Content 1
  </kal-tab>
  <kal-tab label="Header 2" disabled>
    Content 2
  </kal-tab>
  <kal-tab label="Header 3">
    Content 3
  </kal-tab>
</kal-tab-group>

<kal-tab-group tabindex="2">

  <kal-tab selected>
    <ng-template kalTabLabel>
      <kal-icon name="done">
      </kal-icon>
      Header 1
    </ng-template>
    Content 1
  </kal-tab>

  <kal-tab>
    <ng-template kalTabLabel>
      <kal-icon name="done">
      </kal-icon>
      Header 2
    </ng-template>
    Content 2
  </kal-tab>

  <kal-tab>
    <ng-template kalTabLabel>
      <kal-icon name="done">
      </kal-icon>
      Header 3
    </ng-template>
    Content 3
  </kal-tab>

</kal-tab-group>
