<kal-tab-group tabindex="1">
  <kal-tab label="Label 1" selected>
    <h5>Tab1</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci dolore dolorem earum magnam nulla quas quia, reprehenderit? Ad cum doloribus et inventore iure nobis odio optio temporibus velit voluptas!
  </kal-tab>
  <kal-tab label="Label 2" disabled>
    <h5>Tab2</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nesciunt possimus quaerat veritatis. Aliquid consequuntur eaque enim ipsa, laudantium nam nisi praesentium quaerat quibusdam! At commodi eum mollitia porro reprehenderit!
  </kal-tab>
  <kal-tab label="Label 3">
    <h5>Tab3</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nesciunt possimus quaerat veritatis. Aliquid consequuntur eaque enim ipsa, laudantium nam nisi praesentium quaerat quibusdam! At commodi eum mollitia porro reprehenderit!
  </kal-tab>
</kal-tab-group>

<kal-tab-group tabindex="2">

  <kal-tab selected>
    <ng-template kalTabLabel>
      <kal-icon>
        done
      </kal-icon>
      Label 1
    </ng-template>
    <h5>Tab1</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nesciunt possimus quaerat veritatis. Aliquid consequuntur eaque enim ipsa, laudantium nam nisi praesentium quaerat quibusdam! At commodi eum mollitia porro reprehenderit!
  </kal-tab>

  <kal-tab>
    <ng-template kalTabLabel>
      <kal-icon>
        done
      </kal-icon>
      Label 2
    </ng-template>
    <h5>Tab2</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nesciunt possimus quaerat veritatis. Aliquid consequuntur eaque enim ipsa, laudantium nam nisi praesentium quaerat quibusdam! At commodi eum mollitia porro reprehenderit!
  </kal-tab>

  <kal-tab>
    <ng-template kalTabLabel>
      <kal-icon>
        done
      </kal-icon>
      Label 3
    </ng-template>
    <h5>Tab3</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nesciunt possimus quaerat veritatis. Aliquid consequuntur eaque enim ipsa, laudantium nam nisi praesentium quaerat quibusdam! At commodi eum mollitia porro reprehenderit!
  </kal-tab>

</kal-tab-group>
