<h1>Dialog</h1>

<div class="example">

  <article>

      <kal-button kalTheme="primary" (click)="openDialog()">Open Dialog</kal-button>

      <div class="technical-value" *ngIf="result">
        <div class="technical-value__item">
          <span>result </span>
          <span>{{ result | json }}</span>
        </div>
      </div>

  </article>

  <article>
    
    <kal-button kalTheme="primary" (click)="openConfirmDialog()">Open confirm Dialog</kal-button>

      <div class="technical-value"  *ngIf="resultConfirm">
        <div class="technical-value__item">
          <span>result </span>
          <span>{{ resultConfirm | json }}</span>
        </div>
      </div>

  </article>

</div>

<div class="configurator">
  <kal-form-field>
    <kal-checkbox
      label="hasBackdrop"
      [(ngModel)]="hasBackdrop">
    </kal-checkbox>
  </kal-form-field>

  <kal-form-field>
    <kal-checkbox
      label="disableClose"
      [(ngModel)]="disableClose">
    </kal-checkbox>
  </kal-form-field>
</div>

