<h5>Checkbox by using control</h5>

<div style="padding: 50px" [class.darkBg]="reverse">

  <kal-checkbox
    [kalTheme]="themesList"
    [label]="label"
  ></kal-checkbox>

</div>

<hr/>
<section class="configurator">
  <kal-select [(ngModel)]="theme">
    <kal-option value="">Default</kal-option>
    <kal-option value="switch">Switch</kal-option>
  </kal-select>

  <kal-checkbox
    label="Reverse"
    [(ngModel)]="reverse">
  </kal-checkbox>

  <kal-checkbox
    label="Large"
    [(ngModel)]="large">
  </kal-checkbox>
</section>
