/* gray */
$kal-palette-grey: (
  wf800: #1F1F1F,
  wf700: #3D3D3D,
  wf600: #5C5C5C,
  wf500: #7A7A7A,
  wf400: #7A7A7A,
  wf300: #B8B8B8,
  wf350: #C4C4C4,
  wf200: #D6D6D6,
  wf100: #F5F5F5,
);
/* yellow */
$kal-palette-yellow: (
  darker: darken(#E2C135, 40%),
  dark: darken(#E2C135, 20%),
  normal: #E2C135,
  light: lighten(#E2C135, 20%),
  lighter: lighten(#E2C135, 40%)
);
/*orange */
$kal-palette-orange: (
  darker: #BE7A2D,
  dark: #D38832,
  normal: #E89536,
  light: lighten(#E89536, 20%),
  lighter: lighten(#E89536, 40%)
);
/* red */
$kal-palette-red: (
  darker: darken(#D45F3C, 40%),
  dark: darken(#D45F3C, 20%),
  normal: #D45F3C,
  light: lighten(#D45F3C, 20%),
  lighter: lighten(#D45F3C, 40%)
);
/* blue */
$kal-palette-blue: (
  darker: darken(#21C0D9, 40%),
  dark: darken(#21C0D9, 20%),
  normal: #21C0D9,
  light: lighten(#21C0D9, 20%),
  lighter: lighten(#21C0D9, 40%)
);
/* green */
$kal-palette-green: (
  darker: darken(#1FD29D, 40%),
  dark: darken(#1FD29D, 20%),
  normal: #1FD29D,
  light: lighten(#1FD29D, 20%),
  lighter: lighten(#1FD29D, 40%)
);
/* marine */
$kal-palette-marine: (
  darker: darken(#094074, 40%),
  dark: darken(#094074, 20%),
  normal: #094074,
  light: lighten(#094074, 20%),
  lighter: lighten(#094074, 40%)
);
/* anthracite */
$kal-palette-anthracite: (
  darker: darken(#293133, 40%),
  dark: darken(#293133, 20%),
  normal: #293133,
  light: lighten(#293133, 20%),
  lighter: lighten(#293133, 40%)
);
/* corail */
$kal-palette-corail: (
  darker: darken(#FF7F50, 40%),
  dark: darken(#FF7F50, 20%),
  normal: #FF7F50,
  light: lighten(#FF7F50, 20%),
  lighter: lighten(#FF7F50, 40%)
);
/* blueviolet */
$kal-palette-blueviolet: (
  darker: darken(#3A006F, 40%),
  dark: darken(#3A006F, 20%),
  normal: #3A006F,
  light: lighten(#3A006F, 20%),
  lighter: lighten(#3A006F, 40%)
);
/* cornflowerblue */
$kal-palette-cornflowerblue: (
  darker: darken(#6495ed, 40%),
  dark: darken(#6495ed, 20%),
  normal: #6495ed,
  light: lighten(#6495ed, 20%),
  lighter: lighten(#6495ed, 30%)
);

/* global palettes */

$kal-palettes: (
  'black': #000000,
  'white': #ffffff,
  'grey': $kal-palette-grey,
  'yellow': $kal-palette-yellow,
  'orange': $kal-palette-orange,
  'red': $kal-palette-red,
  'blue': $kal-palette-blue,
  'green': $kal-palette-green,
  'marine': $kal-palette-marine,
  'anthracite': $kal-palette-anthracite,
  'corail': $kal-palette-corail,
  'blueviolet': $kal-palette-blueviolet,
  'cornflowerblue': $kal-palette-cornflowerblue,
);
