
@import "palettes";
@import "functions/index";

$kal-colors: (default: #1F1F1F, reverse: #FFF) !default;

$kal-base-fontface: 'Arial' !default;

$kal-base-fontfamily: $kal-base-fontface, sans-serif !default;
$kal-base-fontcolor: map-get($kal-colors, default) !default;
$kal-base-fontsize: 17px !default;

$kal-base-borderradius: 3px !default;
$kal-base-borderwidth: 1px !default;
$kal-base-borderstyle: solid !default;
$kal-base-bordercolor: $kal-base-fontcolor !default;

$kal-text: (
  font-family: $kal-base-fontfamily,
  font-size: $kal-base-fontsize,
  color: $kal-base-fontcolor
);

$kal-headings: (
  1: ( "font-family": $kal-base-fontface,  "font-size": $kal-base-fontsize + 25, "line-height": 54px, "font-weight": 500),
  2: ( "font-family": $kal-base-fontface,  "font-size": $kal-base-fontsize + 19, "line-height": 45px, "font-weight": 600),
  3: ( "font-family": $kal-base-fontface,  "font-size": $kal-base-fontsize + 14, "line-height": 39px, "font-weight": 500),
  4: ( "font-family": $kal-base-fontface,  "font-size": $kal-base-fontsize + 10, "line-height": 36px, "font-weight": 600),
  5: ( "font-family": $kal-base-fontface,  "font-size": $kal-base-fontsize + 5, "line-height": 30px, "font-weight": 600),
  6: ( "font-family": $kal-base-fontface,  "font-size": $kal-base-fontsize + 3, "line-height": 28px, "font-weight": 600)
) !default;

@import 'components/kal-button.styles';
@import 'components/kal-nav.styles';
@import 'components/kal-tabs.styles';
@import 'components/kal-radio.styles';
@import 'components/kal-checkbox.styles';
@import 'components/kal-select.styles';
@import 'components/kal-menu.styles';
@import 'components/kal-datepicker.styles';
@import 'components/kal-formfield.styles';
@import 'components/kal-dialog.styles';

// global parameters
$kal-parameters: (
  palettes: $kal-palettes,
  headings: $kal-headings,
  text: $kal-text,
  nav: $kal-styles-nav,
  tabs: $kal-styles-tabs,
  dialog: $kal-styles-dialog,
  datepicker: $kal-styles-datepicker,
  form: (
    elements: (
      'button': $kal-styles-button,
      'menu': $kal-styles-menu,
      'radio': $kal-styles-radio,
      'checkbox': $kal-styles-checkbox,
      'select': $kal-styles-select,
      'formfield': $kal-styles-formfield
    ),
    padding: 12px,
    border: (
      width: $kal-base-borderwidth,
      style: $kal-base-borderstyle,
      color: $kal-base-fontcolor,
      radius: $kal-base-borderradius
    )
  )
);
