/* SETTINGS : Variables */
// Colors
$color-orange: #e89536 !default; // rgb(232,149,54)
$color-danger: #D45F3C !default; // rgb(212,95,60)
$color-warning: #E2C135 !default; // rgb(226,193,53)
$color-info: #21C0D9 !default; // rgb(33,192,217)
$color-success: #1FD29D !default; // rgb(31,210,157)
$color-neutre0: #1F1F1F !default; // rgb(31,31,31)
$color-neutre5: #3D3D3D !default; // rgb(61,61,61)
$color-neutre10: #5C5C5C !default; // rgb(92,92,92)
$color-neutre30: #7A7A7A !default; // rgb(122,122,122)
$color-neutre50: #B8B8B8 !default; // rgb(184,184,184)
$color-neutre70: #D6D6D6 !default; // rgb(214,214,214)
$color-neutre90: #F5F5F5 !default; // rgb(245,245,245)
$color-neutre100: #FFFFFF !default; // rgb(255,255,255)
// Fontfaces
$font-face-name-regular: 'AsapRegular' !default;
$font-face-name-medium: 'AsapMedium' !default;
$font-face-name-semibold: 'AsapSemiBold' !default;
// Fonts base
$base-font-family: $font-face-name-regular !default;
$base-font-style: normal !default;
$base-font-size: 17px !default;
$base-font-lineheight: 24px !default;
$base-font-weight: 400 !default;
$base-radius: 3px !default;
$base-color: $color-neutre0;
// Fontfaces Map
$fontfaces: (
  Regular: ( $font-face-name-regular, Asap-Regular, normal, normal ),
  Medium: ($font-face-name-medium, Asap-Medium, 500, normal),
  SemiBold: ( $font-face-name-semibold, Asap-SemiBold, 600, normal )
);
// Headings Map
$headings: (
  1: ( $font-face-name-medium, $base-font-size + 25, 54px ),
  2: ( $font-face-name-semibold, $base-font-size + 19, 45px ),
  3: ( $font-face-name-medium, $base-font-size + 14, 39px ),
  4: ( $font-face-name-semibold, $base-font-size + 10, 36px ),
  5: ( $font-face-name-semibold, $base-font-size + 5, 30px ),
  6: ( $font-face-name-medium, $base-font-size + 3, 28px )
);
// colors palette
$palettes: (
  primaire: (
    up: $color-orange
  ),
  etat: (
    danger: $color-danger,
    warning: $color-warning,
    info: $color-info,
    success: $color-success
  ),
  neutre: (
    quote(black): $color-neutre0,
    darkest: $color-neutre5,
    darker: $color-neutre10,
    dark: $color-neutre30,
    light: $color-neutre50,
    lighter: $color-neutre70,
    lightest: $color-neutre90,
    quote(white): $color-neutre100
  )

);
// Generic Map
$parameters: (
  // Form elements
  kalInput: (
    font: $base-font-family,
    font-size: inherit,
    color: $color-neutre5,
    background-color: $color-neutre90,
    padding: 12px,
    width: 100%,
    border: (
      width: 1px,
      style: solid,
      color: $color-neutre70,
      radius: $base-radius
    )
  )
);


