
$base-font-color: #000 !default;
$base-font-family: Asap !default;
$base-font-size: 16px;
$base-radius: 5px !default;

$parameters: (
  // base text
  text: (
    font-family: $base-font-family,
    font-size: $base-font-size,
    color: $base-font-color
  ),
  // base form
  form: (
    font: $base-font-family,
    border: (
      width: 1px,
      style: "solid",
      color: #000,
      radius: $base-radius
    )
  ),
  // base heading
  heading: (
    1: ($base-font-family, $base-font-size + 2, 10px),
    2: ($base-font-family, $base-font-size + 4, 12px),
    3: ($base-font-family, $base-font-size + 6, 14px),
    4: ($base-font-family, $base-font-size + 8, 18px),
    5: ($base-font-family, $base-font-size + 10, 20px),
    6: ($base-font-family, $base-font-size + 12, 22px)
  )
);

