/**
 *
 * ITCSS ORGANISATION
 *
 */
/* SETTINGS : Variables */
.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 0; }

.cdk-overlay-pane {
  position: absolute;
  z-index: 1000; }

/* TOOLS : Mixins */
/* GENERICS :  Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ELEMENTS :  Reboots */
html {
  font-family: "Arial";
  text-rendering: optimizeLegibility;
  height: 100vh;
  color: #000; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Arial";
  font-size: 17px;
  color: #1F1F1F;
  background-color: #FFFFFF; }

a {
  text-decoration: none;
  cursor: pointer; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

small {
  font-size: 80%; }

mark {
  padding: 0.1em; }

pre {
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 42px;
  line-height: 54px; }

h2 {
  font-size: 39px;
  line-height: 45px; }

h3 {
  font-size: 31px;
  line-height: 39px; }

h4 {
  font-size: 27px;
  line-height: 36px; }

h5 {
  font-size: 22px;
  line-height: 30px; }

h6 {
  font-size: 20px;
  line-height: 28px; }

input, textarea {
  outline: none; }

/**
 *
 * ATOMIC ORGANIZATION
 *
 */
/* Atoms */
kal-input > div {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center; }
  kal-input > div input {
    font-family: "Arial";
    font-size: 17px;
    padding: 12px 12px;
    width: 100%;
    color: #3D3D3D;
    background-color: #F5F5F5;
    border-width: 1px;
    border-style: solid;
    border-color: #D6D6D6;
    border-radius: 3px; }
    kal-input > div input:active, kal-input > div input:focus {
      border-color: #7A7A7A; }
    kal-input > div input:disabled {
      color: #D6D6D6; }
      kal-input > div input:disabled + kal-icon {
        color: #D6D6D6;
        cursor: none; }
    kal-input > div input.ng-invalid {
      border-color: #D45F3C; }
    kal-input > div input::placeholder {
      font-style: italic;
      color: #5C5C5C; }
    kal-input > div input + kal-icon {
      position: absolute;
      color: #5C5C5C;
      right: 12px;
      font-size: 80%;
      cursor: pointer; }
kal-input.-reverse div > input {
  font-family: "Arial";
  font-size: 17px;
  padding: 12px 12px;
  width: 100%;
  color: #3D3D3D;
  background-color: #F5F5F5;
  border-width: 1px;
  border-style: solid;
  border-color: #D6D6D6;
  border-radius: 3px;
  color: #1F1F1F;
  background-color: #7A7A7A;
  border-width: 1px;
  border-style: solid;
  border-color: #7A7A7A; }
  kal-input.-reverse div > input:disabled {
    color: #3D3D3D; }
    kal-input.-reverse div > input:disabled + kal-icon {
      color: #D6D6D6;
      cursor: none; }
  kal-input.-reverse div > input::placeholder {
    color: #D6D6D6; }
  kal-input.-reverse div > input + kal-icon {
    color: #D6D6D6; }

kal-progress-bar div {
  background-color: black;
  height: 5px; }

kal-button input {
  border: none; }

/*# sourceMappingURL=styles.css.map */
