<h2>Default accordion</h2>
<kal-accordion>

  <kal-expansion-panel>
    <kal-expansion-panel-header>First panel</kal-expansion-panel-header>

    <kal-expansion-panel-content>
      <p>Main panel 1 content</p>
    </kal-expansion-panel-content>

    <kal-action-row>
      <button type="button">Submit</button>
    </kal-action-row>
  </kal-expansion-panel>

  <kal-expansion-panel>
    <kal-expansion-panel-header>Second panel</kal-expansion-panel-header>

    <kal-expansion-panel-content>
      <p>Main panel 2 content</p>
    </kal-expansion-panel-content>
  </kal-expansion-panel>

  <kal-expansion-panel>
    <kal-expansion-panel-header>Third panel</kal-expansion-panel-header>

    <kal-expansion-panel-content>
      <p>Main panel 3 content</p>
    </kal-expansion-panel-content>

  </kal-expansion-panel>

</kal-accordion>

<hr>

<h2>Accordion with disabled panel</h2>

<kal-accordion>

  <kal-expansion-panel disabled>
    <kal-expansion-panel-header>First panel (disabled)</kal-expansion-panel-header>

    <kal-expansion-panel-content>
      <p>Main panel 1 content</p>
    </kal-expansion-panel-content>

    <kal-action-row>
      <button type="button">Submit</button>
    </kal-action-row>
  </kal-expansion-panel>

  <kal-expansion-panel>
    <kal-expansion-panel-header>Second panel</kal-expansion-panel-header>

    <kal-expansion-panel-content>
      <p>Main panel 2 content</p>
    </kal-expansion-panel-content>
  </kal-expansion-panel>

  <kal-expansion-panel>
    <kal-expansion-panel-header>Third panel</kal-expansion-panel-header>

    <kal-expansion-panel-content>
      <p>Main panel 3 content</p>
    </kal-expansion-panel-content>

  </kal-expansion-panel>

</kal-accordion>

<hr>

<h2>Accordion with multiple panels opened</h2>

<kal-accordion multi>

  <kal-expansion-panel>
    <kal-expansion-panel-header>First panel</kal-expansion-panel-header>

    <kal-expansion-panel-content>
      <p>Main panel 1 content</p>
    </kal-expansion-panel-content>

    <kal-action-row>
      <button type="button">Submit</button>
    </kal-action-row>
  </kal-expansion-panel>

  <kal-expansion-panel>
    <kal-expansion-panel-header>Second panel</kal-expansion-panel-header>

    <kal-expansion-panel-content>
      <p>Main panel 2 content</p>
    </kal-expansion-panel-content>
  </kal-expansion-panel>

  <kal-expansion-panel>
    <kal-expansion-panel-header>Third panel</kal-expansion-panel-header>

    <kal-expansion-panel-content>
      <p>Main panel 3 content</p>
    </kal-expansion-panel-content>

  </kal-expansion-panel>

</kal-accordion>
