<h1>Slider</h1>

<div class="example">
  <article>
    <kal-slider [step]="step"
                [min]="min"
                [max]="max"
                [thumbLabel]="thumbLabel"
                [tickInterval]="tickInterval"
                [limit]="limit"
                [disabled]="isDisabled">
    </kal-slider>
  </article>
</div>

<div class="configurator">

  <kal-form-field>
    <kal-input label="Min" [(ngModel)]="min" type="number"></kal-input>
  </kal-form-field>

  <kal-form-field>
    <kal-input label="Max" [(ngModel)]="max" type="number"></kal-input>
  </kal-form-field>

  <kal-form-field>
    <kal-input label="Step" [(ngModel)]="step" type="number"></kal-input>
  </kal-form-field>

  <kal-form-field>
    <kal-input label="Tick interval" [(ngModel)]="tickInterval" type="number"></kal-input>
  </kal-form-field>

  <kal-form-field>
    <kal-input label="Limit" [(ngModel)]="limit" type="number"></kal-input>
  </kal-form-field>

  <kal-form-field>
    <kal-checkbox label="Disable" [(ngModel)]="isDisabled"></kal-checkbox>
  </kal-form-field>

  <kal-form-field>
    <kal-checkbox label="Show thumb label" [(ngModel)]="thumbLabel"></kal-checkbox>
  </kal-form-field>


</div>
