<h1>Texte</h1>

<div class="example">
  <article>
    <h4>Heading</h4>
    <h1>The quick brown gloves packed with stuffed beans</h1>
    <h2>The quick brown gloves packed with stuffed beans</h2>
    <h3>The quick brown gloves packed with stuffed beans</h3>
    <h4>The quick brown gloves packed with stuffed beans</h4>
    <h5>The quick brown gloves packed with stuffed beans</h5>
    <h6>The quick brown gloves packed with stuffed beans</h6>
  </article>



  <article>
    <h4>Paragraphs</h4>
    <h5>Italic</h5>
    <p>
      <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis doloremque eius excepturi harum
        inventore
        nostrum quam quisquam vero voluptatibus! Aliquid at autem cumque delectus, deserunt distinctio dolor doloremque
        esse
        fugit ipsam molestiae neque nihil nisi non numquam placeat quam quia quidem quo reprehenderit sed sequi sit
        tempore
        veniam, veritatis</em>.</p>
    <h5>Strong</h5>
    <p>
      <strong>Debitis iusto nostrum nulla numquam obcaecati repellendus? Ab dignissimos facilis voluptate! Ad adipisci
        aliquam
        asperiores debitis delectus deleniti dolor excepturi exercitationem id illo illum impedit iure laudantium libero
        magnam nam natus officia praesentium provident quae, quaerat quisquam quod, quos rem repellat repudiandae tempora,
        temporibus ullam vel velit vitae voluptatibus voluptatum!</strong></p>
    <h5>Link</h5>
    <p>
      <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, vel!</a>
    </p>
  </article>
</div>
