<div style="display:flex;flex-flow: column wrap;">

  <div style="display:flex; flex-flow: row wrap; justify-content: space-between; align-items: center; padding: 20px;">
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">(default)</div>
      <kal-button
        [disabled]="disabled"
        class=""
      >{{ content }}</kal-button>
    </div>
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--primary</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--primary"
      >{{ content }}</kal-button>
    </div>
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--secondary</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--secondary"
      >{{ content }}</kal-button>
    </div>
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--tertiary</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--tertiary"
      >{{ content }}</kal-button>
    </div>
  </div>

  <div style="display:flex; flex-flow: row wrap; justify-content: space-between; align-items: center; padding: 20px;">
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">(default)<br>--large</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--large"
      >{{ content }}</kal-button>
    </div>
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--primary<br>--large</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--primary kal-button--large"
      >{{ content }}</kal-button>
    </div>
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--secondary<br>--large</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--secondary kal-button--large"
      >{{ content }}</kal-button>
    </div>
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--tertiary<br>--large</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--tertiary kal-button--large"
      >{{ content }}</kal-button>
    </div>
  </div>

  <div style="color: #ffffff; background-color: #1F1F1F; display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center; padding: 20px;">
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--reverse</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--reverse"
      >{{ content }}</kal-button>
    </div>
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--primary-reverse</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--primary-reverse"
      >{{ content }}</kal-button>
    </div>
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--secondary-reverse</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--secondary-reverse"
      >{{ content }}</kal-button>
    </div>
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--tiertiary--reverse</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--tertiary-reverse"
      >{{ content }}</kal-button>
    </div>
  </div>

  <div style="color: #ffffff; background-color: #1F1F1F; display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center; padding: 20px;">
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--reverse<br>--large</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--reverse kal-button--large"
      >{{ content }}</kal-button>
    </div>
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--primary-reverse<br>--large</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--primary-reverse kal-button--large"
      >{{ content }}</kal-button>
    </div>
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--secondary-reverse<br>--large</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--secondary-reverse kal-button--large"
      >{{ content }}</kal-button>
    </div>
    <div style="padding: 20px; text-align:center; flex: 1;">
      <div style="padding: 10px 0">--tiertiary--reverse<br>--large</div>
      <kal-button
        [disabled]="disabled"
        class="kal-button--tertiary-reverse kal-button--large"
      >{{ content }}</kal-button>
    </div>
  </div>

</div>

  <hr />

  <kal-checkbox
    [(ngModel)]="disabled"
    label="disabled"
  ></kal-checkbox>
