<h1> form-field</h1>

<div class="example" [class.reverse]="reverse">

  <kal-form-field>
    <kal-input label="Input label"
               legend="new legend"
               required="true"
               [kalTheme]="themes"
               [disabled]="disabled"
               [formControl]="control1">
    </kal-input>
  </kal-form-field>


  <kal-form-field>
    <kal-select tabindex="1"
                label="Select label"
                [kalTheme]="themes"
                [disabled]="disabled"
                required
                placeholder="Select items">
      <kal-option value="1">1</kal-option>
      <kal-option value="2">2</kal-option>
      <kal-option value="3">3</kal-option>
      <kal-option value="4">4</kal-option>
    </kal-select>
  </kal-form-field>
</div>


<div class="configurator">

  <kal-checkbox [(ngModel)]="disabled" label="disabled"></kal-checkbox>

  <kal-checkbox [(ngModel)]="reverse" label="reverse"></kal-checkbox>

</div>
