<h1> kal-form-field</h1>
<hr>

<h2> With input </h2>
<h3>Default</h3>

<kal-form-field>
  <kal-input label="Input label"
             required="true"
             [formControl]="control1">
  </kal-input>
</kal-form-field>

<p></p>

<h3>Reverse</h3>
<div style="padding: 10px 30px; background-color: #1f1f1f">
  <kal-form-field class="kal-theme--reverse">
    <kal-input class="kal-theme--reverse"
               label="Input label"
               required="true"
               [formControl]="control1">
    </kal-input>
  </kal-form-field>
</div>

<hr>

<h2> With select </h2>
<h3>Default</h3>
<kal-form-field>
  <kal-select tabindex="1"
              label="Select label"
              required placeholder="Select items">
    <kal-option value="1">1</kal-option>
    <kal-option value="2">2</kal-option>
    <kal-option value="3">3</kal-option>
    <kal-option value="4">4</kal-option>
  </kal-select>
</kal-form-field>

<p></p>

<h3>reverse</h3>
<kal-form-field>
  <kal-select tabindex="2"
              label="Select label"
              required placeholder="Select items"
              kalTheme="reverse">
    <kal-option value="1">1</kal-option>
    <kal-option value="2">2</kal-option>
    <kal-option value="3">3</kal-option>
    <kal-option value="4">4</kal-option>
  </kal-select>
</kal-form-field>
