<h1>Progress bar</h1>

<div class="example">
  <article style="width: 100%">
    <kal-progress-bar
      [value]="progressBarValue"
      [color]="progressBarColor">
    </kal-progress-bar>
  </article>
</div>

<div class="configurator">
  <kal-form-field>
    <kal-input
      label="select value"
      type="number"
      icon="%"
      value="25"
      [(ngModel)]="progressBarValue"></kal-input>
  </kal-form-field>

  <kal-form-field>
    <kal-input
      icon="format_color_fill"
      label="select color"
      [(ngModel)]="progressBarColor">
    </kal-input>
  </kal-form-field>


</div>
