@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url('assets/fonts/' + $file-name + '.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
  }
}
