<kal-select tabindex="1" placeholder="Selectionner un élément">
  <kal-option>OPTION 1</kal-option>
  <kal-option>OPTION 2</kal-option>
  <kal-option>OPTION 3</kal-option>
  <kal-option>OPTION 4</kal-option>
  <kal-option>OPTION 5</kal-option>
</kal-select>

<hr>

<kal-select tabindex="2" multiple placeholder="Selectionner plusieurs élements">
  <kal-option>Commerce</kal-option>
  <kal-option>Famille</kal-option>
  <kal-option>Finances</kal-option>
  <kal-option>Ressource humaine</kal-option>
</kal-select>

