<h1>Checkbox</h1>

<div class="example" [class.darkBg]="reverse">

  <kal-checkbox
    [kalTheme]="themes"
    [label]="label"
    [disabled]="disabled"
    [value]="value"
  ></kal-checkbox>

</div>

<section class="configurator">
  <kal-form-field>
    <kal-select [(ngModel)]="themes" [multiple]="true" label="Themes">
      <kal-option value="">Default</kal-option>
      <kal-option value="switch">Switch</kal-option>
      <kal-option value="reverse">Reverse</kal-option>
      <kal-option value="large">Large</kal-option>
    </kal-select>
  </kal-form-field>

  <kal-form-field>
    <kal-checkbox label="Disable" [(ngModel)]="disabled"></kal-checkbox>
  </kal-form-field>

  <kal-form-field>
    <kal-checkbox label="Toggle value" [(ngModel)]="value"></kal-checkbox>
  </kal-form-field>
</section>
